name: CI/CD Pipeline VPS & Render
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Trigger Render Backend Deployment
        run: |
          echo "Déploiement backend sur Render"
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
          echo "Déploiement Render ok"
      
      - name: Deploy Frontend to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/API_Jeu-main
            git pull origin main
            cd admin-dashboard
            npm install
            npm run build
            pm2 restart frontend || pm2 start npm --name "frontend" -- run preview